
:root{
    --fondo:#f1c905;
    --contenedor: #f8f8f8;
    --sofi:#f1c2d8;
    --magui:#fcf6bd;
    --clau:#d0f4de;
    --agus:#a9def9;
    --extra:#e4c1f9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.principal{
    background: var(--fondo);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
 
    
}

#imagenp-noel{
    position: absolute;
    width: 400px;
    left: -190px;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
}

i{
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 1.5rem;
    color: var(--fondo);
    animation: volver 5s ease-in;
}

.container{
    background: var(--contenedor);
    min-height: 75vh;
    width: 75%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    position: relative;

    
}

.container-table a{
    text-decoration: none;
    color: #333;
}

.container-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 20px 0 ;
    margin-bottom: 10px;
}

.table{
    box-shadow: 1px 1px 10px #333;
}


.clau{
    background: var(--clau);
}

.sofi{
    background: var(--sofi);
}

.magui{
    background: var(--magui);
}

.agus{
    background: var(--agus);
}

.semana{
    background: var(--extra);
}

#logo-br{
    width: 80px;
    margin-top: 20px;
    animation: logo 3s ease-in;
    margin-bottom: 20px;
}

.container h1, .container h2{
    font-weight: 900;
}

.container h2{
    background: var(--fondo);
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 30px;
    animation: todocomunica 2s ease-in;
}

#Encabezado{
    animation: saludo 2s ease-in;
}

@keyframes logo{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes saludo{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes todocomunica{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media  screen and (max-width: 768px){

    .container-table{
        grid-template-columns: 1fr;
    }

    .principal{
        background: var(--contenedor);
    }

    i{
        left: 20px;
        top: 20px;
    }

    .container h2{
        margin-bottom: 100px;
    }

    #logo-br{
        margin-top: 50px;
    }
    
}